<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <title>hapi app</title>
  </head>
  <body>
    <div class="container mt-3">
      <div class="mb-3">
        <a href="/api/users" class="btn btn-primary">Create User</a>
        <a href="/api/projects" class="btn btn-primary">Create Project</a>
        <a href="/api/tasks" class="btn btn-primary">Create Task</a>
      </div>
      {{{content}}}
    </div>
  </body>
</html>
